.AddSupplierForm {
    position: absolute;
    font-family: 'Poppins' , sans-serif;
    left: 25%;
    top: 4%;
    margin: 50px 5px;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 20px 30px;
}

#suplabel{
    margin-left: 15px;
}

.form-control{
    margin: 10px 10px 10px 10px;
}

#proceedBtn {
    background-color: rgb(180, 146, 95);
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

#proceedBtn:hover {


    background-color: black;
    color: rgb(180, 146, 95);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}