.allreservations{
    display: flex;
}
.allreservationscontainer{

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    flex: 1;
}


.allreservationscontainer button{
    
    color:black;
    background-color: rgb(180, 146, 95);;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 150px;
}

.allreservationscontainer button:hover{
    

    background-color: #daa520;
   

}


.allreservationscontainer input{

    width:250px;
    
}

.allreservationscontainer h1{
    text-align: center;
    padding-top: 20px;   
    font-weight: 500;
    
}


.allreservationsCard table{

    margin-left: 80px;
    width:fit-content;
}
.row allpackagessearch{

    margin-left:auto;
    border: 10px;
    

}

.table th{

    background-color: rgb(180, 146, 95);;
    padding-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.table td{

    background-color:  rgba(240, 248, 255, 0.607);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    word-break: break-all;

}

.allreservationsCard{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
